/* Overall page container */
.opportunitiesContainer {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
}

.callOutcomeTitle{
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1000px) {
  .opportunitiesContainer {
    width: 90%;
  }
  .filtersContainer {
    gap: 15px;
  }

  .filterDropdown {
    flex: 1 1 100%;
  }

  .opportunitiesTable {
    font-size: 14px;
  }
  .statisticsContainer {
    gap:1px;
    overflow-y: auto;
  }
  .dateInput, 
  .codeInput, 
  .contactInput {
    width: 100%;
    height:10px;
  }
}


